.Page {
	height: 100vh;
	width: 100%;
	position: fixed;
	transition: opacity 100ms linear;
}

.Route404 {
	height: 100vh;
	width: 100%;
	background-color: '#3f3383';
	background-image: url('../assets/backgrounds/LightMode.svg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

.Route404 h1, .Route404 h2{
	flex-direction: row;
	margin: 0;
	color: white;
}

.Route404 h1 {
	font-size: 150px;
	font-weight: 400;
}

.Route404 h2 {
	font-size: 50px;
	font-weight: 100;
}

.Route404 .Links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

.Route404 a {
	color: white;
	margin: 30px;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 1px;
}

.Route404 a:hover {
	color: #ddd;
}
